@font-face {
  font-family: 'PNfont';
  src: url('./customfonts/PN.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AMfont';
  src: url('./customfonts/AM.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'font3a';
  src: url('./customfonts/font3a.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'font3b';
  src: url('./customfonts/font3b.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'font5';
  src: url('./customfonts/apercu-mono.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'font6';
  src: url('./customfonts/Apercu_Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'font7';
  src: url('./customfonts/Ogg-Roman.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'p1';
  src: url('./customfonts/p1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'p2';
  src: url('./customfonts/p2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'qb1';
  src: url('./customfonts/qb1.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'qb2';
  src: url('./customfonts/qb2.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'f1';
  src: url('./customfonts/f1.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}

.clip-polygon {
  clip-path: polygon(25% 0%, 100% 0%, 100% 75%, 63% 65%);
}


body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

.font5 {
  font-family: 'font5';
}
