@font-face {
  font-family: 'PNfont';
  src: url('./customfonts/PN.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AMfont';
  src: url('./customfonts/AM.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}

.clip-polygon {
  clip-path: polygon(25% 0%, 100% 0%, 100% 75%, 63% 65%);
}

